<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BMCSDL_LAB03_NHOM.Properties.Settings.QLSVConnectionString"
            connectionString="Data Source=DESKTOP-J7JJ24M;Initial Catalog=QLSV;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>